:root {
  --black: #0a0a0a;
  --white: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  height: 100vh;
  margin: auto;
  padding: 0;
  font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  color: var(--black);
  background-color: var(--white)
}

a {
  color: var(--black)
}

.comp {
  border-radius: 10px;
  border: 1px solid var(--white);
  position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
  width: 90%;
  max-width: 600px;
  padding: 0 10px;
  box-sizing: border-box
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--white);
    background-color: var(--black);
  }
  a {
    color: var(--white)
  }
}